body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto; width: 60%;
    line-height: 1.6;
}
.headerNav{
    padding: 15px 0px 15px 0px; border-bottom: 2px solid black;
}
.headerNav__heading{
    display: inline; margin-right: 7em;
}
.headerNav__href{
    float: right;
    font-size: 15; font-weight: bold; color: black;
    text-decoration: none;
    padding: 0 0 0 16px;
}
.mainSection__postDate{
    font-style: italic; font-size: 8; font-weight: lighter; color:grey;
}